<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.three_headed_monkey"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="18" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="net.three_headed_monkey.ThreeHeadedMonkeyApplication_"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="net.three_headed_monkey.ui.MainActivity_"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="net.three_headed_monkey.ui.SimCardSettingsActivity_"
            android:label="SimCard Settings" />
        <activity
            android:name="net.three_headed_monkey.ui.LauncherActivity"
            android:label="@string/launcher_label" >

        </activity>
        <activity
            android:name=".ui.ApplicationLockActivity"
            android:label="@string/launcher_label" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.three_headed_monkey.ui.PhoneNumbersSettingsActivity"
            android:label="PhoneNumber Settings" />

        <receiver
            android:name="net.three_headed_monkey.service.DialerCodeReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="net.three_headed_monkey.service.BootReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="net.three_headed_monkey.service.SimCardCheckService"
            android:exported="false" >
        </service>
        <service
            android:name="net.three_headed_monkey.service.CommandExecutorService"
            android:exported="false" >
        </service>

        <activity
            android:name="net.three_headed_monkey.ui.CommandShellActivity_"
            android:label="@string/title_activity_command_shell" >
        </activity>
        <activity
            android:name="net.three_headed_monkey.ui.SupportedFeaturesActivity_"
            android:label="@string/title_activity_supported_features" >
        </activity>

        <receiver
            android:name="net.three_headed_monkey.service.DataSmsReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.DATA_SMS_RECEIVED" />

                <data
                    android:host="*"
                    android:port="4273"
                    android:scheme="sms" />
            </intent-filter>
        </receiver>

        <service
            android:name="net.three_headed_monkey.service.DataSmsReceivedService"
            android:exported="false" >
        </service>

        <activity
            android:name="net.three_headed_monkey.ui.AlarmCommandActivity_"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <receiver
            android:name="net.three_headed_monkey.service.PassiveLocationUpdatesReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="net.three_headed_monkey.intent.action.PASSIVE_LOCATION_UPDATE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver android:name=".service.PeriodicWorkReceiver"
            android:enabled="true"
            android:exported="false">
        </receiver>

        <service
            android:name="net.three_headed_monkey.service.PassiveLocationUpdatesReceivedService"
            android:exported="false" >
        </service>

        <activity
            android:name="net.three_headed_monkey.ui.ServiceListActivity_"
            android:label="@string/title_activity_service_list" >
        </activity>
        <activity
            android:name="net.three_headed_monkey.ui.ServiceAddActivity_"
            android:label="@string/title_activity_service_add" >
        </activity>
    </application>

</manifest>
