<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.three_headed_monkey"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="18"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />

    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher" android:name=".ThreeHeadedMonkeyApplication_" android:allowBackup="false">
        <activity android:name=".ui.MainActivity_"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".ui.SimCardSettingsActivity_" android:label="SimCard Settings"/>
        <activity
            android:name=".ui.LauncherActivity"
            android:label="@string/launcher_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".service.DialerCodeReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
         </receiver>

    </application>
</manifest>
